<p id="notice"><%= notice %></p>

<div class="fullscreen-bg">
  <video loop muted autoplay class="fullscreen-bg__video">
    <source src="jasmin2.mp4" type="video/mp4">
  </video>
</div>

<% if @photos.size == 0 %>
    <strong>Info!</strong> You have no photos in your library. To begin, start a classification session from the top right corner!
<% else %>
  <h1>Classified Photos</h1>

  <div>
    <% @photos.each do |photo| %>
      <%= link_to(image_tag(attachment_url(photo, :image, :fit, 200, 200, format: 'jpg'), id: 'priyen-img', name: photo.image_id, class: "main-img"), attachment_url(photo, :image, :fit, 500, 500, format: 'jpg'), data: { lightbox: "example-set", title: "#{photo.name}, Classification: #{photo.classification}'" }, id: 'linkto') %>
    <% end %>
  </div>
<% end %>

<br>
<% if @unclassified.size > 0 %>
  <h1>Unclassified Photos</h1>

  <div>
    <% @unclassified.each do |photo| %>
      <%= link_to(image_tag(attachment_url(photo, :image, :fit, 200, 200, format: 'jpg'), id: 'priyen-img', name: photo.image_id, class: "main-img"), attachment_url(photo, :image, :fit, 500, 500, format: 'jpg'), data: { lightbox: "example-set", title: "#{photo.name}, Classification: #{photo.classification}'" }, id: 'linkto') %>
    <% end %>
  </div>
<% end %>

<br>