<h1>Select Images for Classification</h1>

<div class="fullscreen-bg">
  <video loop muted autoplay class="fullscreen-bg__video">
    <source src="/sneh3.mp4" type="video/mp4">
  </video>
</div>

<%= render 'form', photo: @photo %>

